* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #e8ebf3;
  overflow: hidden;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
button:focus {
  outline: none;
}
.container {
  width: 65%;
  margin: 10rem auto;
  display: flex;
  justify-content: space-between;
  background-color: #f5f7fa;
  padding: 2em;
  border-radius: 50px;
}
.list-create {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
  flex: 0.75;
}
.create-button {
  width: 150px;
  font-size: 16px;
  align-self: center;
  background-color: #2f58e2;
  border: none;
  color: #f5f7fa;
  padding: 15px 5px;
  border-radius: 20px;
  box-shadow: 1px 15px 30px #6d81c2;
  cursor: pointer;
}

.list-create-form {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  background-color: #2f58e2;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 1px 15px 20px #6d81c2;
}
.list-create-form input {
  border: none;
  padding: 10px 5px;
  background-color: #2f58e2;
  color: #f5f7fa;
  border-bottom: 1px solid #f5f7fa;
  width: 100%;
}
.list-create-form input:focus {
  outline: none;
}
.list-create-form input::placeholder {
  color: #d7d7d8;
}
.priority-text {
  color: #f5f7fa;
  margin-top: 30px;
  margin-bottom: 20px;
}
.button-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.button-group label {
  color: #d7d7d8;
}
.priority-button:hover {
  outline: none;
  background-color: #f5f7fa;
  color: #2f58e2;
}

/*Tasks part*/

.list-wrapper {
  flex: 1;
}

.list-item-wrapper {
  margin-top: 20px;
}

.list-wrapper small {
  color: grey;
}
.list-filter-item {
  margin-right: 10px;
  color: grey;
}
.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  background-color: #e8ebf3;
  border-radius: 30px;
  padding: 1rem;
  box-shadow: 1px 3px 30px #bfc6d6;
}
.list-check {
  flex: 1;
}
.list-task {
  flex: 7;

  padding-left: 7px;
  border-radius: 5px;
}
.close-button {
  font-size: 24px;
  color: #bfc6d6;
}
.close-button:hover {
  cursor: pointer;
}

/*Classes that will be added via js*/
.active {
  color: #000;
  font-weight: bold;
}
.done {
  text-decoration: line-through;
  color: grey;
}
.d-none {
  display: none;
}
.high-priority {
  border-left: 5px solid red;
}
.medium-priority {
  border-left: 5px solid orange;
}
.low-priority {
  border-left: 5px solid yellow;
}
.verylow-priority {
  border-left: 5px solid blue;
}
.completed {
  border-left: 5px solid greenyellow;
}
